<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">

            <h1 style="background-color : #501872; color: white;" class="text-center pt-2 pb-2">Posh Technologies </h1>

            <br />

            <br />
            <span style="font-family: Arial; font-size: 10pt">
                Dear {Name},
                Your ride has been completed, I hope you enjoyed your ride. Please find your attached Receipt.

                <br />
                <br />
                <br />
                Best wishes to you!
                <br />
                <br />
                Best Regards,<br />
                Posh Technologies

            </span>
        </div>
    </div>
</div>
