
@{
    ViewData["Title"] = "City";
}


<div class="container-fluid" id="datatable_City_MainDiv">
    <div class="row heading-section py-3">
        <div class="col-sm-6 col-6 heading-div d-flex align-items-center">
            <h2 style="color : #501872" class="user-texts m-0">City</h2>
        </div>

        <div class="col-sm-6 col-6 text-end">
            <a style="background: #501872; font-size:18px;"  class="btn btn-Add text-white " onclick="OpenCityForm(null)"><i class="fa fa-plus pr-1"></i> Add City</a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive table customTable mt-2">
                <table id="datatble_CityList" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Country Name</th>
                            <th>State Name</th>
                            <th>City Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="display:none" id="newCityAdd">
    <form method="post" enctype="multipart/form-data" id="newCityAddForm">
        <div class="create-from">
            <div class="col-md-12">
                <div class="card">
                    <div class="row cstmroww m-0">
                        <div class="col-md-4 country-txt p-3">
                            <label class="pb-2">Country Name  <span class="text-danger">*</span></label>
                            <select class="form-control border-3 mb-2" id="bindCountryDropdown" onchange="getCityChange()"></select>
                            <span  role="alert" class="small" id="conBindConerror" style="display:none">
                            </span>
                        </div>
                        <div class="col-md-4 country-txt p-3">
                            <label class="pb-2">State Name <span class="text-danger">*</span></label>
                            <select class="form-control border-3 mb-2" id="bindStateDropdown" onchange="getCityChange()"></select>
                            <span role="alert" class="small" id="conBindStaerror" style="display:none">
                            </span>
                        </div>
                        <div class="col-md-3 country-txt p-3">
                            <label class="pb-2">City Name <span class="text-danger">*</span></label>
                              <input id="city_id" hidden />
                            <input type="text" class="form-control border-3 mb-2" id="CityName" onchange="getCityChange()" placeholder="Enter City Name">
                            <span  role="alert" class="small" id="conBindCiterror" style="display:none">
                            </span>
                        </div>
                        <div class="modal-footer @*justify-content-center*@ modals p-3">
                            <input type="submit" value="Save" style="font-size:18px;" id="EditButton" class="btn cstm-btn px-4 btn-Add" />
                            @* <button type="button" class="btn btn-closed" onclick="@("window.location.href='" + @Url.Action("GetCustomers", "Customer") + "'");">Close</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>




@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/js/custom/MasterTable.js"></script>

}


