<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">

            <h1 style="background-color : #501872; color: white;" class="text-center pt-2 pb-2">Posh Technologies </h1>

            <br />

            <br />
            <span style="font-family: Arial; font-size: 10pt">
                Dear {SuperAdmin},
                I hope this message finds you well. I wanted to inform you that a new driver has registered their profile in our <span style="color : #501872">Posh Technologies</span> app.
                <br /> Please review the information and take any necessary actions, such as verifying the driver's credentials and approving their registration.
                <br />
                <br />
                <br />
                <u>Driver's basic Information:</u>
                <br /><br /><br />
                Name:&nbsp;{UserName}<br /><br />
                Email:&nbsp;{UserEmail}<br /><br />
                Contact:&nbsp;{UserContact}<br /><br />
                Thank you for your attention to this matter.

                <br />
                <br />
                <br />
                Best wishes to you!
                <br />
                <br />
                Best Regards,<br />
                Posh Technologies

            </span>
            </div>
            </div>
            </div>
