
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
            <h1 style="background-color : #501872; color: white;" class="text-center p-2">Posh Technologies </h1>

            <br />
            <b>NO RESPONSE NEEDED</b>
            <h2> A message from Posh</h2>
            <br />
            <br />
            <span style="font-family: Arial; font-size: 10pt">
                Congratulations <b>{UserName}</b>,<br />
                <br />
                We are thirilled to inform you that, Your applcation to drive with Posh has been approved! Congratulations and welcome to our community
                of drivers.<br />
                Here at Posh, we value reliability, professionalism, and reflects our confidence in your ability to uphold these standards
                and provide passengers with an outstanding experience.<br />
                As an approved driver you play a crucial role in delivering exceptional
                experience to our pessengers.
                wheather it's ensuring a smooth ride, offering friendly assistance, or navigating efficiently, your dedication contributes to success of
                our platform.
                <br />

                <br />

                Drive safely and enjoy the ride!
                <br />
                <br />
                Best Regards,<br />
                Posh Technologies
            </span>
        </div>
    </div>
</div>
