
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
            <h1 style="background-color : #501872; color: white;" class="text-center p-2">Posh Technologies </h1>

            <br />
            <b>NO RESPONSE NEEDED</b>
            <h2> A message from Posh</h2>
            <br />
            <br />
            <span style="font-family: Arial; font-size: 10pt">
                Congratulations <b>{UserName}</b>,<br />
                <br />
                We are thirilled to inform you that, You are now a successfully registered customer! We welcome you to our community
                of riders.<br />
                Here at Posh, we provide riders with an outstanding ride experience.<br />
                wheather it's ensuring a smooth ride, offering friendly assistance, or navigating efficiently.
                <br />

                <br />

                Ride safely and enjoy the ride!
                <br />
                <br />
                Best Regards,<br />
                Posh Technologies
            </span>
        </div>
    </div>
</div>
