
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
            <h1 style="background-color : #501872; color: white;" class="text-center p-2">Posh Technologies </h1>

            <br />
            <b>NO RESPONSE NEEDED</b>
            <h2>A message from Posh</h2>
            <br />
            <br />
            <span style="font-family: Arial; font-size: 10pt">
                Hii <b>{UserName}</b>,<br />
                <br />
                I hope this message finds you well. We are greateful to have you as a part of our family.<br />
                We are reaching out to remind you that your vehicle's inspection is due to expire soon. To ensure compliance and avoid any potential disruptions to your operations, 
                we kindly ask you to renew your vehicle's inspection at your earliest convenience.
                <br />
                To maintain the high standards of safety and reliability that our project demands, it is crucial that your vehicle undergoes inspection before the expiration date. 
                Failure to do so may result in your vehicle being deemed non-compliant, potentially affecting your ability to operate within the Posh Rides.
                <br />
                <h5 >Phone Number : {phone}</h5>
                <h5>Expiry Date : {date}</h5>
                <h5 style="background-color : yellow">Note : {note}</h5>
                <br />
                Thank you for your prompt attention to this matter.  Drive safely and enjoy the ride!
               
                <br />
               
                <br/>
                <br />
                Best Regards,<br />
                Posh Technologies
            </span>
        </div>
    </div>
</div>
