<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">

            <h1 style="background-color : #501872; color: white;">Posh Technologies </h1>

            <br />
           

            <br />
            <span style="font-family: Arial; font-size: 10pt">
                Hello <b>{UserName}</b>,<br />
                <br />
                Thank you for your interest in joining <span style="color: #501872">POSH TECHNOLOGIES</span> as a driver.
                Please fill the needful details for verification process of your driver profile.

                <br />
                While we are unable to move forward with your application at this time, we encourage you to address the areas mentioned above and update your profile if you still want to join our plateform
                <br />
                <br />

                <br />
                <br />


                <br />
                <br />
                Best Regards,<br />
                Posh Technologies

            </span>
        </div>
    </div>
</div>