<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">

            <h1 style="background-color : #501872; color: white;">Posh Technologies </h1>

            <br />
            <b>NO RESPONSE NEEDED</b>
            <h2> A message from Posh</h2>

            <br />
            <span style="font-family: Arial; font-size: 10pt">
                Hello <b>{UserName}</b>,<br />
                <br />
                Thank you for your interest in joining <span style="color: #501872">POSH TECHNOLOGIES</span> as a driver.
                <br />
                NOTE : <b>{Reason}</b>
                <br />
                <br />
                While we are unable to move forward with your application at this time, we will update you, once your driver profile become approved.
                <br />
                <br />
                <b><a style="color: #501872" href="{URL}">Login to your profile &#8594;</a></b>
                <br />
                <br />


                <br />
                <br />
                Best Regards,<br />
                Posh Technologies

            </span>
        </div>
    </div>
</div>