<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
            Dear User!

            Your verification code is <b>{verificationCode}</b>.<br /><br />

            Enter this code in our app to reset your account's password'.<br />

            We’re glad you’re here!

            <br />
            Best wishes to you!
            <br />
            <br />
            Best Regards,<br />
            Posh Technologies
        </div>
    </div>
</div>